/target

.idea/
/esp-nvs/target/

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
.claude/
*/.clippy.toml
*/.claude/
target/
.nix/
.vscode/
*/.sisyphus/

Cargo.lock